@charset "UTF-8";
@import "_variables";

$border: (
	"border_top_d7d7d7" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAADX19f7b47VAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjOMDAAAACRADBQq93fQAAAABJRU5ErkJggg==",
	"border_left_d7d7d7" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAADX19f7b47VAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjaGBoAAACBAEBHBEyvwAAAABJRU5ErkJggg==",
	"border_right_d7d7d7" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAADX19f7b47VAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjcGBwAAABBACBuS4d8AAAAABJRU5ErkJggg==",
	"border_bottom_d7d7d7" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAADX19f7b47VAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjYGA4AAAAxADBPcXUKgAAAABJRU5ErkJggg=="
);

// 宽度为0.5px的边框
// @param $direction: 'a'(default) around, 't' 上,'r' 右, 'b' 下, 'l' 左, 'tb' 上下, 'lr' 左右
// @param $color: 目前提供 #d7d7d7(default)
// 注意：使用'a'模式时，应该放在自定义padding的前面。
@mixin borderPoint5($direction: 'a', $color: $line-color) {
	// 统一小写颜色值并去掉#
	$str_color: str-slice(to-lower-case($color + ''), 2);
	// 若颜色是简写式，改写规则：用前三位补齐后面三位
	@if str_length($str_color) == 3 {
		$str_color: $str_color + $str_color;
	}
	// 边框方向判断
	@if $direction == 'a' {
		@warn "0.5px边框使用'a'模式时，注意放在自定义padding的前面。";
		padding: 1px;
		background-image: url(map-get($border, "border_top_" + $str_color)),
		url(map-get($border, "border_right_" + $str_color)),
		url(map-get($border, "border_bottom_" + $str_color)),
		url(map-get($border, "border_left_" + $str_color));
		background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
		background-position: top, right, bottom, left;
	} @else if $direction == 'tb' {
		background-image: url(map-get($border, "border_top_" + $str_color)),
		url(map-get($border, "border_bottom_" + $str_color));
		background-repeat: repeat-x;
		background-position: top, bottom;
	} @else if $direction == 't' {
		background-image: url(map-get($border, "border_top_" + $str_color));
		background-repeat: repeat-x;
		background-position: top;
	} @else if $direction == 'b' {
		background-image: url(map-get($border, "border_bottom_" + $str_color));
		background-repeat: repeat-x;
		background-position: bottom;
	} @else if $direction == 'lr' {
		background-image: url(map-get($border, "border_left_" + $str_color)),
		url(map-get($border, "border_right_" + $str_color));
		background-repeat: repeat-y;
		background-position: left, right;
	} @else if $direction == 'l' {
		background-image: url(map-get($border, "border_left_" + $str_color));
		background-repeat: repeat-y;
		background-position: left;
	} @else if $direction == 'r' {
		background-image: url(map-get($border, "border_right_" + $str_color));
		background-repeat: repeat-y;
		background-position: right;
	} @else {
		@error "0.5px边框$direction: `#{$direction}` 不在('a', 'tb', 't', 'b', 'lr', 'l', 'r')里。";
	}
	background-size: 1px;
}
