@charset "UTF-8";
/* color system */
// gray 灰
$gray-21: #212121;
$gray-d7: #D7D7D7;
$gray-a0: #A0A0A0;
// red 红
$red-01: #EF4945;

/* semantic */
$text-color: $gray-21;
$theme-color: $red-01;
$line-color: $gray-d7;