@import "../../assets/scss/_variables";
@import "../../assets/scss/_mixins";

.cpnt-radio {
	@include font(16px, $text-color, 23px);

	&-item {
		position: relative;
		padding: 10px 0 10px 33px;

		&::before {
			@include bfc(absolute, 50%, "", "", 0);

			width: 21px;
			height: 21px;
			margin-top: -12px;
			content: "";
			border: 1px solid $gray-c7;
			border-radius: 50%;
		}
	}
	&-icon {
		@include bfc(absolute, 50%, "", "", 0);

		margin-top: -12px;
	}
}