@charset "UTF-8";
@import "../../scss/_variables";
@import "../../scss/_mixins";
@import "../../scss/_svg";

.drop_select {
	display: flex;
	@at-root .drop_select_bg {
		@include bfc(fixed, null);

		z-index: 3;
		background-color: rgba(black, .6);
	}

	@at-root .multi_select .drop_select_body {
		display: flex;
		flex: 1;
	}

	@at-root .drop_select_body {
		@include font(16px, $gray-a0, 50px);

		position: relative;
		z-index: 4;
		width: 100%;
		background-color: white;
	}
}
// 多列下拉选择
.multi_select {
	@at-root .multi_item {
		position: relative;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		height: 50px;
		text-align: center;
		border-bottom: 2px solid white;

		&.selected {
			border-color: $link-color;
			.title {
				color: $link-color;
			}
			.arrow_down {
				@include svg("arrow_right", $link-color);
			}
		}
		.arrow_down {
			@include svg("arrow_right", $gray-a0);

			transform: rotate(90deg);
		}
		.up {
			transform: rotate(270deg);
		}
	}
	@at-root .multi_options {
		@include bfc(absolute, 50px, 0, '', 0);

		z-index: 3;
		background-color: white;
		&.selected {
			display: block;
		}
		.option:active {
			background-color: rgba(black, .1);
		}
	}
}
.single_select {
	position: relative;
	.title {
		display: flex;
		align-items: center;
		padding-right: 15px;
		padding-left: 25px;
		color: black;
		.label {
			min-width: 48px;
			padding-right: 20px;
		}
	}
	.desc {
		flex: 1;
		color: $link-color;
	}
	@at-root .single_options {
		@include bfc(absolute, 50px, 0, '', 0);

		z-index: 4;
		background-color: white;
		.option:active {
			background-color: rgba(black, .1);
		}
	}
	.arrow_down {
		@include svg("arrow_right", $gray-c7);

		transform: rotate(90deg);
	}
	.up {
		transform: rotate(270deg);
	}
}